.social-buttons-container {
    font-family: "Roboto", sans-serif;
    margin: 30px;
    display: flex;
    gap: 100px;
}
  
.social-btn {
    background: #edf2f4;
    padding: 20px 40px; /* Increased padding */
    border-radius: 8px;
    text-decoration: none;
    color: #1d3557;
    font-weight: bold;
    position: relative;
    box-shadow: inset 0 -10px 7px -8px rgba(0, 0, 0, 0.2);
    font-size: 18px; /* Increased font size */
}
  
.social-btn .cover {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edf2f4;
    transform-origin: center bottom;
    font-size: 36px; /* Increased icon size */
    border-radius: 8px;
    transition: all 400ms ease;
}
  
.social-btn:hover .cover {
    transform: rotateX(140deg);
    box-shadow: 0 -8px 30px -2px rgba(0, 0, 0, 0.2);
    border-top: 4px solid #b0b0b0;
}